@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display&display=swap');

p, li, button, div {
	font: 1em DMSans-Regular, Helvetica, sans-serif;

}
h1 {
	font: 2em DMSerifDisplay-Regular, Helvetica, sans-serif;
}
h2 {
	font: 1.5em DMSerifDisplay-Regular, Helvetica, sans-serif;
}
h3 {
	font: 1.25em DMSerifDisplay-Regular, Helvetica, sans-serif;
}


.ingredients li {
	color: #3a3b3c;
	font-family: DM Sans;
	font-weight: 700;
	
}


#vegan-friendly-fire-burger {
   text-transform: uppercase;
}

button:hover {
   background: darksalmon;
}

section {
	margin: 10px;
	padding: 10px;
}

#siteintro {
	/* text-align: center; */
}

#select-burger-section {
	border: 2px dashed #000000;
	background-color: darksalmon;
}

#place-order-section {
	border: 2px dashed #000000;
	padding: 50px;
	background-color: #D7EBBA;
}

form {
	margin: -20px;
}

#place-order-button {
	/* place button in center */
	width: 100px;
	height: 70px;
	padding: 0px;
	margin: 20px;
	cursor: wait;
}

#paymentmethod {
	margin: -20px;
}

#choose-paymentmethod-label {
	margin: -20px;
}

.burger-header {
	margin: 10px;
	overflow: hidden;

}

.burger-header > h1 {
	position: absolute;
	margin-top: -700px;
	margin-left: 500px;
	color: #472836;
	background: darksalmon;
	border: 3px double #FEFFBE;
	border-radius: 50px;
	padding: 20px;
}

.burger-header > img {
	opacity: 0.6;
	width:  100%;
	height: auto;
}

.wrapper {
     display: grid;
     grid-gap: 5px;
     grid-template-columns: 300px 300px 300px;
     background-color: #FEFFBE;
     color: #444;
     border:  0px;
     border-radius: 100px;
     padding: 20px 0px 20px 20px;
 }


.burger-box > img {
	width: 100%;
}


.burger-box > h2 {
	text-align: center;
}


